.contact {
    padding-top: 50px;
    
  }
  
  .contactcoverImg{
     margin-left: 225px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.contactcolumn  img {
    margin-left: 100px;
    width: 30vw;
    height: 570px;
    border-radius: 60px;
    object-fit:cover;
}

.contactTitles{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

  * {
    box-sizing: border-box;
  }
  
 
  table {
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    background-color: #346299;
    color: #F9F9F9;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    
  }
  
  tr:hover {background-color: #D6EEEE;}

  
  .contactcolumn {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  


  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }